<h1 class="p-3">Stupid coaching</h1>
<h3 class="p-3">Ask your coach anything:</h3>
<form action="/answer" data-turbo="false" class="p-3">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>